.custom-nav-bg {
  background-color: #35a9e7;
}

  .navbar-nav .nav-link {
    color: white;
  }

   .navbar-nav .nav-item {
    margin-right: 30px;
    padding: 0 30px;
  }

  .navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid white;
  }